<div class="mb-3 row">
    <div class="col-12 col-md-5 mb-2 mb-md-0">
        <div class="input-group">
            {% if manager.acl.canSelect %}
                <select id="dashboard-select" class="form-select">
                    {% for row in manager.dashboards %}
                        <option value="{{ row.id }}" {{ row.id is same as(manager.resource.id) ? 'selected' : '' }}>{{ row.name }}</option>
                    {% endfor %}
                </select>
            {% endif %}
            {% if manager.acl.canConfigure %}
                {% include "@SpipuDashboard/show/header/configuration.html.twig" with {'manager': manager} %}
            {% endif %}
        </div>
        {% if manager.acl.canCreate %}
            {% include "@SpipuDashboard/show/header/creation.html.twig" with {'manager': manager} %}
            {% include "@SpipuDashboard/show/header/duplication.html.twig" with {'manager': manager} %}
        {% endif %}
    </div>
    {% include manager.definition.templateShowFilters with {'manager': manager} %}
</div>