<div class="dashboard-configure-show">
    <div class="dashboard-row dashboard-main-name row" data-row-id="-1">
        <div class="col-7">
            <div class="mb-3" id="dashboard-name-form">
                <label for="dashboard-name-field">{{ 'spipu.dashboard.label.label_dashboard_name'|trans }}</label>
                <input id="dashboard-name-field" type="text" class="form-control text-primary bold text-uppercase" value=""/>
            </div>
            <div class="mb-3" id="dashboard-name-noform">
                <h3>{{ 'spipu.dashboard.configure.default_title'|trans }}</h3>
            </div>
        </div>
    </div>
    {% include "@SpipuDashboard/configure/template-row.html.twig" %}
    {% include "@SpipuDashboard/configure/add-new-row.html.twig" %}
</div>
