<div id="dashboard-template-col" class="dashboard-col">
    <div id="dashboard-template-widget-empty"
         class="row widget-item widget-item-empty">
        <div class="col-12">
            <div class="card h-100">
                <div class="card-body text-start">
                    <i class="fa-regular fa-square-plus"></i> {{ 'spipu.dashboard.configure.add_widget'|trans }}
                </div>
            </div>
        </div>
    </div>
    <div id="dashboard-template-widget" class="row widget-item">
        <div class="col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="nav-options">
                        <div class="nav-icon dashboard-icon-delete float-end ms-2 border-secondary text-secondary">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                        <div class="nav-icon dashboard-icon-move float-end ms-2 border-secondary text-secondary">
                            <i class="fa-solid fa-left-right"></i>
                        </div>
                    </div>
                    <div data-type="value_single" class="type-icon value-single">
                        <span>123</span>
                    </div>
                    <div data-type="value_compare" class="type-icon value-compare">
                        <span class="number">123</span>
                        <span class="arrow-wrap">
                            <i class="fa-solid fa-caret-down"></i>
                            <i class="fa-solid fa-caret-up"></i>
                        </span>
                    </div>
                    <i data-type="graph" class="type-icon fa-solid fa-2x fa-chart-line"></i>
                    <i data-type="donut" class="type-icon fa-solid fa-2x fa-chart-pie"></i>
                    <i data-type="specific" class="type-icon fa-solid fa-2x"></i>
                    <span class="widget-title">...</span>
                </div>
            </div>
        </div>
    </div>
</div>