<a
        id="configure"
        class="btn btn-outline-primary"
        href="{{ manager.router.url('configure') }}"
        title="{{ 'spipu.dashboard.dashboard.configure'|trans }}"
>
    <i class="fa-solid fa-gear"></i>
    {{ 'spipu.dashboard.ui.action.configure'|trans }}
</a>
